/* Pour la navigation avec navbar */
html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

h1
{
    text-align: center;
    font-size: 80px;
}

.maintitle {
    font-size: 80px;
    margin-bottom: 0px;
    margin-top: 40px;
}

h2
{
    text-align: center;
    font-size: 40px;
}

.subtitle {
    font-size: 28px;
    margin-top: 0px;
    font-weight: normal;
}

.void {
    margin-top: 70px;
}

p
{
    text-align: center;
    font-size: 18px;
}

body
{
	margin: 0;
	background-color: #161c21;
    background-image: url('background/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	color: white;
}

header
{
	height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #2D3943;
    padding: 0;
    justify-content: space-between;
}

.header {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #2D3943;
    border-bottom: 1px solid #161c21;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    right: 0;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

a.nav {
    font-size: 35px;
    text-decoration: none;
    color: #f1f1f1;
    padding-right: 50px;
}

a.link {
    text-decoration: none;
    color: darkgray;
    margin: 10px;
}

a.link:hover {
    text-decoration: underline;
    color: darkgray;
}

.fixed {
    position: fixed;
    top: 0;
}

.title {
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.middle {
    text-align: center;
    display: flex;
    justify-content: center;
}

.button-text {
    font-size: 60px;
    margin: 0;
}
.button-subtext {
    font-size: 20px;
    margin: 0;
}


button.panel[type=submit] {
    width: 400px;
	height: 100px;
    font-size: 60px;
    cursor: pointer;
    border: 3px solid #2D3943;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 4px;
	background-color: #2D3943;
	color: #f1f1f1;
    margin-right: 10px;
    margin-left: 10px;
}

button.panel.transition {
    border: 3px solid #161c21;
    background-color: #161c21;
}

button.launcher[type=submit] {
    width: 200px;
	height: 50px;
    font-size: 30px;
    cursor: pointer;
    border: 3px solid #2D3943;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 4px;
	background-color: #2D3943;
	color: #f1f1f1;
}

button.panel[type=submit]:hover, button.launcher[type=submit]:hover {
    background-color: #161c21;
    border: 2px solid #f1f1f1;
    color: #f1f1f1;
}

button.panel[type=submit]:active, button.launcher[type=submit]:active {
    background-color: #f1f1f1;
    border: 3px solid #f1f1f1;
    color: #161c21;
}

.footer {
    position: fixed;
    bottom: 0;
}

.ecta-version {
    margin: 0;
    color: #888;
    font-size: 14px;
	text-align: left;
}

.social-item {
    background-color: #161c21;
    color: #f1f1f1;
    border-radius: 50%;
    padding: 10px;
    width: min-content;
    transition: 0.2s;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.social-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f1f1f1;
    transition: 0.2s;
}

.social-item:hover {
    background-color: #f1f1f1;
    color: #161c21;
}

.social-item:hover a {
    color: #161c21;
}

.blur {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 10px );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -90;
}

.blur-panel {
    background: rgba( 0, 0, 0, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-alert-panel {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    overflow: auto;
    flex-direction: column;
    align-items: center;
}

.form-alert {
    background-color: #2D3943;
    width: 600px;
    height: 300px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

button[type=submit]:hover.submit {
    background-color: dimgrey;
    border: 3px solid dimgrey;
    color: #f1f1f1;
}

button[type=submit].submit {
    width: 400px;
    font-size: 25px;
    cursor: pointer;
    border: 3px solid #f1f1f1;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 4px;
}

.backButton {
    margin-top: 10px;
}

button.title-button {
    background: none;
    border: none;
    color: white;
    padding: 0;
    cursor: pointer;
    height: 100px;
}

.title-text {
    margin: 0;
}

.img-background {
    background: #161c21;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
}
.img-foreground, .img-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@font-face {
    font-family: "Bank Gothic Medium";
    src: url("./ecta_font.otf");
}

@font-face {
    font-family: "LTBulletin Medium";
    src: url("./ecta_font_2.ttf");
}

.title-font {
    font-family: "Bank Gothic Medium";
    font-weight: normal;
    letter-spacing: normal;
}

* {
    font-family: "LTBulletin Medium";
    letter-spacing: .5px;
}

section.mainsection {
    min-height: 100vh;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    min-height: calc(100vh - 100px);
}

section#footer {
    min-height: 100px;
}

.service {
    display: flex;
    background-color: #161c21;
    padding: 20px;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
}

.game {
    display: flex;
    flex-direction: row;
    background-color: #2D3943;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
}

.div-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 100px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #2D3943;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 6px #888;
    border: 2px solid transparent;
    border-radius: 8px;
}

/* Animation */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    /* filter: drop-shadow(0 0 10px #080710); */
}

.mainlogo {
    transition-delay: 500ms;
    transition-duration: 2s;
    /* filter: drop-shadow(0 0 10px #080710); */
}

.maintitle{
    transition-delay: 1.5s;
}

.mainbutton {
    z-index: 2;
    transition-delay: 2s;
}

.section_:nth-child(1) {
    transition-delay: 3s;
}

.section_:nth-child(2) {
    transition-delay: 3.5s;
}

.section_:nth-child(3) {
    transition-delay: 4s;
}

/* Changelog page */

.text-muted {
    color: darkgray !important;
    font-size: 18px;
}

b {
    font-size: 20px;
    text-shadow: 0px 0px 3px white;
    color: white;
    font-weight: normal;
}

.p-2 {
    background-color: white;
    color: #2D3943;
    padding: 8px;
    border-radius: 8px;
}

h5 {
    font-size: 24px;
    font-weight: normal;
}

.st {
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
}

/* Privacy page */

.section-title {
    background-color: white;
    color: #2D3943;
    padding: 16px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 0;
    border-radius: 8px;
    text-align: left;
    font-size: 40px;
}

.text-muted-privacy {
    color: white !important;
    font-size: 20px;
}

/* DEBUG */

/* * {
    box-shadow: 0 0 0 3px red;
} */